:root{    
    --weigth400: font-weight: 400;
    --container: 1124px;
    --padding: 80px;
    --content: 956px; 
    --green: #327430;
    --gray: #626262;
    --white: #FFFFFF;
    --weight500: font-weight: 500;

}